<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Template hello Page</title>
    <style>
        body{
            background-color: lightpink;
        }
        h1,h2,h3{
            text-align: center;
            border: 2px Solid Brown;
        }
        h1{
            color:red;
            width:100%;
            background-color: aqua;
        }
        h2{
            color:orangered;
            width:100%;
            background-color: antiquewhite;
        }
        h3{
            color:brown;
            width:100%;
            background-color: beige;
        }
    </style>
</head>
<body>
    <h1>Hello user!!! welcome to DJANGO Tempates...!!</h1>
    <hr color="yellow" width="100%"/>
    <h2>GOOD MORNING USER...!!</h2>
    <hr color="yellow" width="100%"/>
    <h3>HAVE A NICE DAY</h3>
    <hr color="yello" width="100%%"/>
</body>
</html>