<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Tamplate Wishes Page</title>
    <style>
        h1,h2,h3,h4{
            text-align:center;
        }
        h1{
            color:blue;
        }
        h2{
            color:red;
        }
        h3{
            color:green;
        }
        h4 {
            color: orangered;
        }
    </style>
</head>
<body>
    <h1> HEllo Welcome To Second-Projwect Of DJANGO: Templates_File</h1>
    <hr color="red" width="55%"/>
    <h2>Have A Nice Day</h2>
    <hr color="yellow" width="420%"/>
    <h3>***ALL THE BEST***</h3>
    <hr color="gray" width="500%"/>
    <h4>TATA BYE BYE SEE U</h4>
    <hr color="pink" width="55%"/>
</body>
</html>